.gradient-text {
    background: linear-gradient(45deg, #383838 0%, #2dd4bf 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.custom-scrollbar::-webkit-scrollbar{
    height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #2dd4be3f;
}
.custom-scrollbar::-webkit-scrollbar-track{
    background-color: transparent;
}